<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexicon</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-slate-50 text-slate-800 antialiased selection:bg-primary selection:text-white">
    <nav class="fixed top-0 w-full z-50 glass-nav transition-all duration-300 max" id="navbar"></nav>
    <div id="table"></div>
    <script>
    fetch("/lexicon")
        .then(res => res.text())
        .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, "text/html");
        
            const block = doc.getElementById("main-container");
            document.getElementById("table").appendChild(block);
        
            // ensure script runs after DOM is added
            const s = document.createElement("script");
            s.src = "{{ url_for('static', filename='lexicon/script.js') }}";
            document.body.appendChild(s);            
        });
    </script>
    <footer class="bg-slate-900 text-slate-300 py-12 mt-12" id="footer"></footer>
</body>
</html>
